<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuaishouappshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.VideoShowActivity"></activity>
        <activity android:name=".view.activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.AdvertisingActivity">

        </activity>
        <activity android:name=".view.activity.SplashActivity" /> <!-- 登录页面 -->
        <activity android:name=".view.activity.LoginActivity" /> <!-- 注册页面 -->
        <activity android:name=".view.activity.RegisterActivity" /> <!-- 框架页面 -->
        <activity android:name=".view.activity.HomePageActivity" >

        </activity>
    </application>

</manifest>